@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('/NanumGothic.woff2');
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-style: Normal;
}

html,
html > *{
  font-family: "Nanum Gothic";
}